{% extends "layout.html" %}

{% block content %}

<div class="main-container">
    <div class="cloud-image">
        <img src="../static/img/successCloudNew.svg" />
    </div>
    <div class="content">
        <div class="tweet-container">
            <a href="http://twitter.com/intent/tweet/?text=I%20just%20created%20a%20new%20Python%20Flask%20website%20on%20Azure%20using%20Github%20Actions&hashtags=GithubActions%20%40Azure">
                <img src="../static/img/tweetThis.svg" />
            </a>
        </div>
        <div class="content-body">
            <div class="success-text">Welcome</div>
            <div class="description line-1"> Jameson Hearn's Personal Website</div>
            <div class="description line-2"> Built with Flash - Hosted in Azure </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>MSSA Graduate </h2>
        <p>
            Learn more about the Microsoft Software and Systems Academy
        </p>
        <p><a class="btn btn-default" href="https://military.microsoft.com/programs/microsoft-software-systems-academy/">MSSA &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Prior Military</h2>
        <p>Four years of network engineering experience managing the 1st Marine Division Network Operations Center</p>
        <p><a class="btn btn-default" href="https://www.facebook.com/1stMarineDivision/posts/new-and-improved-dnoc-facility-this-week-the-commanding-general-of-1st-marine-di/4297531776955134/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Current Projects</h2>
        <p>Browse my current projects! Primarily network automation and DevOps related</p>
        <p><a class="btn btn-default" href="https://github.com/jhearn85/webapp">My Repo &raquo;</a></p>
    </div>
</div>

{% endblock %}
